<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sabuymyhouse;AccountKey=IQ+/DsEtC+l2oRF5oYEeDzFm53yKZcbGiaCIS33FpWkBcngZEIvTgWdhc3KZznLKx94k/pYDjTO56HVvIjD1Iw==;EndpointSuffix=core.windows.net" />
  </appSettings>
         
</configuration>